body{
    padding: 0%;
    margin: 0%;
    background-color: darkgray;
}
nav img{
    
    height: 160px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}
nav ul li a{

    margin: 30px;
    padding: 40px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: lightcoral;
    color: white;
    font-family: "calibri", "sans-serif";
    border-radius: 50px;
    font-size: 25px;
    
    
}
nav ul li a:hover{
    background-color: darkgray;
}
