*{
    /* nav, article und aside sind mit em Padding grober als 100%.
    Die drei Bereiche passen daher nicht nebeneinander.
    box-sizing: borer-box ... dei GroBenangaben umfassen das gesamte Element
    (inkl. Padding, Margin, ...)*/

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    word-wrap: break-word;

}
/*Design fur das handy*/
@media(max-width: 600px){
header, nav, article, aside {
    width: 100%;
}
}

body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

header{
    background-color: lightgray ;
    padding: 25px;
    
}
nav{
    background-color: lightcoral;
    
    padding: 25px;
    
}

article{
    background-color: lightgoldenrodyellow;
    
    padding: 25px;
   
}
aside{
    background-color: lightcyan;
    padding: 25px;
   
    
}
/*Design fur den Desktop*/
@media(min-width: 768px){
nav, aside{
    
    width: 25%;
    float: left;
}

article{
    width: 25%;
    float: left; 
}


.container{
    /*Krze Zeilen sind besser zu lesen --> Breite 70% */
    width: 70%;
    margin: auto;/*Bereich wird mittig ausgrichtet*/
}
}